/*
* @Author: alexzhao
* @Date:   2020-12-17 21:09:44
* @Last Modified by:   alexzhao
* @Last Modified time: 2021-01-11 21:35:16
*/
@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a,img {
    border: 0;
}

body{
    font-family: '华文隶书';
    background-color: #f5f5f5;
    color:#666666;
    font-size: 1vw;
}
.public_height100{
  height: 100%;
}

.public_width100{
  width: 100%;
}
/*公共内边距*/
.public_padding1{
  padding: 0 1vw;
}
.public_padding10{
  padding: 0 10vw;
}

.public_top_tool{
    position: fixed;
    z-index: 10;
    top: 0;
    float: inherit;
    height: 4vw;
    width: 100%;

    /*flex 布局*/
    display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    /*justify-content: center;*/

    text-align: justify;
    width: 100%;
    height: 4vw;
    margin:0 auto;
    background-color: #fff;
}
.public_border{
  border-radius: 4px;
  border:2px solid #fd6e21;
}
.public_title{
  text-align: center;
  font-size: 1.5vw;
  color: #fd6e21;
  padding: 0.5vw;
}
.public_width100{
  width: 100vw;
}
.clerfloat{
  clear:both;
  width: 0px;
  height:0px;
}
.public_background{
  background-color: #fff;
}
.public_margin_top{
  margin-top: 0.5vw;
}

.center-vertical{
  display: flex;
  /*实现垂直居中*/
  align-items: center;

}
.center-horizontal{
  display: flex;
  justify-content: center;
}
.text-content{
  text-align:center;
}
.site_logo_text{
  font-size: 2vw;
  color: #fd6e21;
  text-align: right;
  padding-left: 10vw;
}
.top_search{
  margin-left:20vw;
}
.search{
  width: 18vw;
  height: 2.4vw;
  background: #ccc;
  border: 1px solid #fd6e21;
  border-radius: 15px;
  padding: 0 3vw;
  text-align:center;
  }
.search_i{
    position: absolute;
    top: 1.2vw;
    left: 66.5vw;
    margin-left: -15%;
    color: #fd6e21;
    font-size: 1.5vw;
}

.top_user{
  margin-left:20vw;
}
.top_button{
  margin-left:2vw;
}

.top_null4{
  height: 4vw;
}

.top_nav_box{
  height: 8vw;
  background-color: #fff;
  margin-top: 0.5vw;
  padding: 0 10vw;


}

.top_nav_left{
  border-bottom: 1px solid #fd6e21 ;
  height: 100%;
  width: 60vw;
  float: left;
}

.top_nav_right{
  border-bottom: 1px solid #fd6e21 ;
  height: 100%;
  width: 20vw;
  text-align:center;
  overflow: hidden;
  color:#fd6e21;
  text-align: center;
}

.top_nav_right i{
  color:#fd6e21;
  font-size:2vw;
}

.top_nav_top{
  border-bottom: 1px solid #fd6e21 ;

}

.top_city{
  height: 4vw;
  line-height: 4vw;
  float: left;
  width: 10vw;
}
.top_city i{
  padding-left: 1vw;
}

.top_nav_slogan{
  height: 4vw;
  line-height: 4vw;
  color: #fd6e21;
  font-size: 2vw;
  text-align: center;
}
.top_nav{
  height: 4vw;
}




.top_class_title{
  width:23vw;
  height: 4vw;
  font-size: 1.5vw;
  background-color: #fd6e21;
  color: #fff;
  border-radius: 8px 8px 0 0;
  float:left;

}

.top_nav_div{
  height: 4vw;
  width:37vw;
}

.top_nav_div ul{
  margin: 0px 0px 0px 4px;
  padding: 0;
  list-style: none;
  position: relative;
  height: 4vw;

}

.top_nav_div ul li {
  float: left;
/*  color: #333333;*/
  cursor: pointer;
  width: 6vw;
  height: 4vw;
  font-size: 1.2vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.top_nav_div ul li:hover {
  height: 100%;
  border-radius: 8px 8px 0 0;
  background-color: #fd6e21;
  color:#fff;
}
.active {
  width: 70%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  background-color: #fd6e21;
  color:#fff;
}
.top_banner{
  padding: 0.1vw 10vw;
}

#menu{
  width: 100%;
  height: 100%;
  margin: 20px auto;
/*  border: black solid 1px;*/
  position: relative;
  text-align: center;
  z-index: 999;
}
#menu ul{
  width: 100%;
  position: absolute;
  top: 4vw;
  background-color: #000;
  display: none;
  height: 22vw;
  opacity:0.5;
/*  display: block;*/

}
#menu ul li{
  text-align: left;
  font-size: 1vw;
  padding: 10px;
}
#menu ul li p{
  margin-bottom: 10px;
}
#menu ul li a{
  color:#fff;
  padding-right: 10px;
}
#menu ul li a:hover{
  text-decoration: none;
  border-bottom: 1px solid red;
}
#content{
  text-align: center;
}
#menu:hover ul{
  display: block;
}
#menu ul li:hover{
  background-color: grey;
}

.index_recommend_box{
  width: 40vw;
  height: 30vw;
  margin-top: 0.5vw;
  float: left;
  border:none;
  padding: 0px;
  box-sizing:border-box;
}
.index_recommend_teacher{
  width: 39.5vw;
  height: 30vw;
  margin-top: 0.5vw;
  float: right;
  box-sizing:border-box;
}
.content_div{
  padding: 2px 15px;
}



.now_teacher{
  padding: 0 10px;
  height:14.5vw;
  box-sizing:border-box;
}
.now_parents{
  padding: 0 10px;
  height:15vw;
  margin-top: 0.5vw;
  box-sizing:border-box;
}
.now_teacher ul li{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  padding: 2px;
}

.now_parents ul li{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  padding: 2px;
}
.layui-form-label{
/*  padding: 0;
  width: auto;*/
  text-align: left;
}
.layui-input-block{
/*  margin-left: 60px;*/
/*  min-height: 26px;*/
}

.left_padding10{
  padding-left:10px;
}

.index_table{
  color: #fd6e21;
  height: 26.5vw;
  /*border:1px solid #ccc ;*/
}

.index_table tr{
  width: 100%;
}
.index_table th{
/*  border:1px solid #ccc ;*/
  width: 25%;
}
.index_table td{
/*  border:1px solid #ccc ;*/
  width: 25%;
  height: 3vw;
}
.index_table{
  color: #fd6e21;
}
.index_table tr td input{
  height: 1.5vw;
  border:none;
  border-bottom: 1px solid  #fd6e21;
  background-color:transparent;
}
.index_table tr td select{
  height: 1.5vw;
}
.index_table tr td textarea{
  height: 6vw;
  resize: vertical;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: #fd6e21;
  padding: 10px;
  box-sizing:border-box;
}
.layui-form-radio{
  line-height: 3vw;
  padding-right: 0px;
  margin: 0.5vw 0.5vw 0 0;
}
.layui-form-radio i{
  font-size: 1.2vw;
  margin-right: 2px;
}
.layui-form-radio div{
  font-size: 1.2vw;
}
.layui-btn{
  height: 3vw;
  line-height:3vw;
  font-size:1.2vw;
}
.layui-tab{
  margin: 0px;
}
.layui-tab-brief > .layui-tab-title .layui-this{
  color:#fd6e21;
}
.layui-tab-brief > .layui-tab-title .layui-this:after{
  border-color: #fd6e21;
}

.index_teacher_tab_box{
  margin-top: 0.5vw;
}

.my_tab_css{
  border-radius: 4px;
}
.my_tab_css>li {
  padding: 0 2vw;
  border:2px solid #fd6e21;
  margin-left: 2vw;
  border-radius: 15px;
  line-height: 2.5vw;
}

.my_tab_css .layui-this {
  padding: 0 2vw;
  border:2px solid #fd6e21;
  margin-left: 2vw;
  border-radius: 15px;
  line-height: 2.5vw;
  background-color: #fd6e21;
  color: #fff;

}
/*去除默认选中边框线*/
.my_tab_css .layui-this:after{
  border: none;
}


layui-tab-title .layui-this::after {
/*    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 41px;*/
    border: none;
/*    border-width: 1px;
    border-style: solid;
    border-bottom-color: #fff;
    border-radius: 2px 2px 0 0;
    box-sizing: border-box;*/
/*    pointer-events: none;*/
}

.class_teacher_box{
  height: 21vw;
}
.class_teacher_box ul{
    list-style: none;
}

.class_teacher_box li {
  display: inline;
  float:left;
  width: 18.7%;
  padding: 6px;
}

.class_teacher_box ul li a div{
  border-radius: 2px;
  border-color: #fd6e21;
  border:2px solid  #fd6e21;
  width: 100%;
  height: 20vw;
  background-color: #fff;
}
.class_teacher_box ul li a div img{
  width: 100%;
  height: 10vw;

}
.class_teacher_box ul li a div p{
  padding: 0 0.2vw;
}
.class_teacher_box ul li a div p span i{
  color: #fd6e21;
}

.teacher_box {

}

.teacher_name{
  font-size: 1.5vw;
}
.teacher_sex{
  margin-left: 2vw;
}
.teacher_type{
  margin-left: 4vw;
}
.teacher_abstract{
  height: 5vw;
  font-size: 0.7vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-indent:2vw;

}
.teacher_focus{
  margin-left: 5vw;
}
.class_teacher_box ul li:hover {
 transform:scale(1.1);
}
.school_elite{
  margin-top: 0.5vw;
}
.school_elite_box{
  border-radius: 4px;
  height: 27vw;
  background-color: #fff;
}
.school_elite_box hr{
  background-color: #fd6e21;
  height: 2px;
  padding: 0px;
  margin:0px;
}
.school_elite_box h5{
  font-size: 1.5vw;
  color: #fd6e21;
  padding:  1vw 2vw;
}
.school_elite_box ul{
  list-style: none;
  padding: 0 1vw;
}
.school_elite_box ul li{
  display: inline;
  float:left;
  width: 15.9%;
  padding: 0.3vw;
}
.school_elite_box ul li img{
  width: 100%;
}
.school_elite_box ul li a p{
  text-align: center;
  width: 100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.school_elite_box ul li:hover {
 transform:scale(1.1);
}

.index_news_box{
  border-radius: 4px;
  height: 20vw;
  background-color: #fff;
}
.my_tab_content{
  font-size: 0.8vw;
}

.my_tab_content ul{
    list-style: none;
}

.my_tab_content li {
  display: inline;
  float:left;
  width: 23.8%;
  padding: 6px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.my_tab_content li i{
  font-size: 0.8vw;
}
.my_tab_content li a{
  margin-left:0.5vw;
}

.index_links_box{
  border-radius: 4px;
  height: 8vw;
  background-color: #fff;
}
.index_links_box h5{
  font-size: 1.5vw;
  color: #fd6e21;
  padding:  1vw 2vw;
}
.index_links_box hr{
  background-color: #fd6e21;
  height: 2px;
  padding: 0px;
  margin-top:0px;
}

.index_links_box a {
  padding: 0 1vw;
/*  margin-top: 1vw;*/
  box-sizing:border-box;

}
.public_bottom{
  background-color: #fff;
  height: 8vw;
  text-align: center;
}
.public_bottom p{
  padding-top:1vw;
}

.public_bottom a{
  padding: 1vw;

}

